version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.local
    container_name: ivy-local-app
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    env_file:
      - ./.env.development
    environment:
      AIR_DEBUG: "true"
      APP_PORT: ${APP_PORT}
      CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      SSL_MODE: ${SSL_MODE}
